In [1]:
def sum(x, y): return x + y


sum(1, 2)

# lists are pointers
list = [1, 2, 3, 4, 5, 6, 7, 8]
same_poiter = list
list_copy = list[:]

for item in list:
    print(item, end='\t')

if 1 in list:
    print('yes')

a = None

if a is None:
    print('none')

square = [item ** 2 for item in list if item % 2 == 0]
square

1	2	3	4	5	6	7	8	yes
none

[4, 16, 36, 64]

### Useful links

https://developers.google.com/edu/python

https://peps.python.org/pep-0008

In [9]:
a = [1, 2, 3, 2, 5, 6, 4, 8, 5, 7, 2, 8, 1, 7, 3, 5]

print(a.count(2))
print(len(a))
print(sum(a))

set(a)

3
16
69

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
def fun():
    a = 2
    b = 'rafa'
    return a, b


c, d = fun()
print(c, d)

2 rafa

In [14]:
string = str()
lista = list()

[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Charts tutorial: https://colab.research.google.com/notebooks/charts.ipynb

In [41]:
import pandas as pd

data = [[180, 70, 'male'], [175, 84, 'male'], [168, 62, 'female'], [157, 55, 'female']]
columns = ['height', 'weight', 'gender']

df = pd.DataFrame(data=data, columns=columns)

features = ['height', 'weight']
y = df.gender
X = df[features]

df.drop(columns='gender')

X

   height  weight
0     180      70
1     175      84
2     168      62
3     157      55

In [ ]:
import datetime

current_year = datetime.datetime.now().year

# home_data.describe()
# current_year - home_data['YearBuilt'].describe()['max']
round(home_data['LotArea'].describe()['mean'])
# home_data.columns